#beer {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 122.5vh;
  height: 125vh;
  width: 100%;

  .carousel {
    position: abslolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    img {
      height: auto;
    }
  }

  .beer-title {
    position: absolute;
    top: 5%;
    color: blue;
  }

  .beer-description {
    position: absolute;
    color: blue;
    font-size: 20px;
    bottom: 15%;
    width: 80%;
    text-align: center;
  }
}

.background-champs {
  background: url('../img/beerCanBackground.jpg') no-repeat center center/cover;
}

.background-roses {
  background: pink;
}
.background-peacheur {
  background: purple;
}
.background-nord {
  background: blue;
}
.background-caux {
  background: red;
}
.background-flueve {
  background: turquoise;
}
.background-saison {
  background: green;
}
