.third-section {
  position: absolute;
  display: flex;
  top: 235vh;
  height: 115vh;
  width: 100%;

  .alphabet-video {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    padding: 1rem;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    .background {
      background: rgba(255, 255, 255, 0.8);
      width: 70vw;
      padding: 1rem;
      border-radius: 20px;
    }

    .input-field label {
      color: #000;
    }

    .input-field {
      color: #000;
    }

    .input-field input[type='text']:focus + label,
    .input-field input[type='email']:focus + label,
    .input-field textarea[name='message']:focus + label {
      color: #333;
    }

    .input-field input[type='text']:focus,
    .input-field input[type='email']:focus,
    .input-field textarea[name='message']:focus {
      border-bottom: 1px solid #333;
      box-shadow: 0 1px 0 0 #333;
    }

    #textarea1 label {
      color: #fff;
    }

    .contact-phone,
    .contact-location {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 20px;
      }
    }
  }
}

// Overlay
.third-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

// responsive cell horizontal
@media (max-height: 420px) {
  #alphabet {
    top: 210vh;
    height: 180vh;

    .container {
      height: 80%;
      width: 100vw;
    }

    .flip-display {
      display: none;
    }
  }
}

// responsive cell vertical

@media (max-width: 420px) {
  .contact-location p,
  .contact-phone p {
    display: none !important;
  }

  .bottom {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 420px) {
  .flip-display {
    display: none;
  }
}
