.landing {
  top: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  animation: color 4s 1s, fade-in 2s 4.5s;
  overflow-x: hidden;

  .image {
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background: url('../img/hue-cheval.png');
    background-size: contain;
    animation: invert 2.5s, fade-out 1.25s 3.5s;
  }
}

@keyframes invert {
  0% {
    transform: rotate(225deg);
  }
  20% {
    transform: rotate(-70deg);
  }
  40% {
    transform: rotate(105deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  70% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  85% {
    transform: rotate(45deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  95% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes color {
  0% {
    background: #fff;
  }
  75% {
    background: red;
  }
  100% {
    background: #333;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
