#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  opacity: 0.9;
  height: 80px;
  width: 100vw;
  z-index: 1;

  img {
    display: flex;
    height: 100px;
    width: 100px;
  }

  .items ul {
    display: flex;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    li {
      padding: 1rem;
      a {
        font-weight: 800;
        color: #fff;
      }
    }
  }
}

// responsive cell

@media (max-width: 420px) {
  #navbar .items {
    display: none;
  }
}
